# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Baltik executables
trust*

# Baltik environment
*env_trust*.sh

# Construction files
README.BALTIK
Makefile
build/
.check_sources.ok

# Modified files
*~

# Eclipse configuration files
.clang*
.*project
.settings/

README_BALTIK_ECLIPSE
